@font-face {
  font-family: Robotronica;
  src:url('../fonts/Robotronica.ttf');
}

.slideshow-container{
  height: 200px;
  width: 50%;
}

img{
  width: 100%;
  height: 400px;
}

#text-caroussel{
  position: relative;
  top: -30px;
  font-weight: bolder;
  font-family: Robotronica;
  font-size: 20px;
}

#timeText{
  position: relative;
  font-family: Robotronica;
  top: 30px;
  left: 46%;
}

.dropdown{
  position: absolute;
  top: 100px;
  left: 700px;
}
