@font-face {
  font-family: Robotronica;
  src:url('../fonts/Robotronica.ttf');
}

.slideshow-container{
  height: 200px;
  width: 50%;
}

img{
  width: 100%;
  height: 400px;
}

#text-caroussel{
  position: relative;
  top: -400px;
  left: 670px;
  font-weight: bolder;
  font-family: Robotronica;
  font-size: 30px;
  width: 60%;
}

#timeText{
  position: relative;
  font-family: Robotronica;
  top: 30px;
  left: 0%;
  font-size: 18px;
}

.dropDown{
  position: relative;
}

#buttonDropdown{
  position: relative;
  top: 100px;
  left: 310px;
}

#buttonChangeTimeZone{
  position: relative;
  top: 100px;
  left: 310px;
}

#topPageNotifications{
  position: relative;
  top: -90px;
}

.blackFont{
  color: #000000;
}
