<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <title>Carbon Emissions</title>
    <!--<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/">-->

    <script type="text/javascript" src="js/navBarInteractions.js"></script>

    <link rel="stylesheet" href="css/carbonEmissions.css">
  </head>

  <body>

    <!-- hide score stuff before input request-->
    <script>
      var isAppear = false;
      $(document).ready(function(){
        if(!isAppear)
          $('#surroundScore').hide();
        else
          $('#surroundScore').show();
      })
      document.getElementById("surroundScore").style.visibility = "hidden";
    </script>

    <div class="masthead">
      <h3 class="text-muted">FEW Project</h3>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
        <a class="navbar-brand bg-dark" href="#">FEW Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-dark" id="HOME" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" id="QUIZ" href="#">Quiz</a>
            </li>
            <li>
              <a class="nav-link text-dark" id="MUSIC" href="#">Music Propaganda</a>
            </li>
            <li>
              <a class="nav-link text-dark" id="AIR" href="#">Air Pollution</a>
            </li>
            <li>
              <a class="nav-link text-dark" id="CARBON" href="#">Carbon Emissions</a>
            </li>
          </ul>
        </div>
      </nav>

    </div>


    <br/>
    <br/>
    <br/>
    <h3>Know Your Car's Carbon Footprint</h3>
    <p>See your vehicle's ranking below! You will need to enter the model,
      make, and year of your vehicle to get a <br>
      score on the fuel emissions of your vehicle.</p>

    <form method="POST">

      <label>Make: <input type="text" id="MAKE" name="MAKE"></label><br/>
      <label>Model: <input type="text" id="MODEL" name="MODEL"></label><br/>
      <label>Year: <input type="text" id="YEAR" name="YEAR"></label><br/>
      <input class="btn-primary" type="submit" value="Submit">
    </form>

    <p id="explanation">The score is attributed in the following way: 1.0 is
    the worst score a vehicle can get, <br/>while 10.0 is the best score a vehicle can get.</p>

    <p>Your score is:</p>
    <div id="surroundScore">
      <p id="score"></p>
    </div>

    <!--
    Mazda 5 2006
    <make>Ford</make><mfrCode>FMX</mfrCode><model>E150 Van FFV</model>
    2012
    -->


    <% if(emissions.localeCompare("") != 0 && vehicles.localeCompare("")!=0){ %>
    <script>
      var emissions_ = <%- JSON.stringify(emissions) %>;
      //separate the emissions_ variable into the different information that we want
      var array_ = emissions_.split(",");

      //just directly get the position of the beginning of the start?
      var score = emissions_.indexOf("score\":");
      //then add 8, bc thats indexes b4 value (there are the "" b4)
      score = score+8;
      //cuts from score. First important variable
      var importantVals = emissions_.substring(score);

      var removeDQuotes = importantVals.split("\"");

      //real score value
      score = removeDQuotes[1];

      //real score alt value
      var scoreAlt = removeDQuotes[5];

      document.getElementById("score").innerHTML = " "+score;
      if(parseInt(score)>=8){
        document.getElementById("surroundScore").style.backgroundColor = '#22CC00';
      }
      else if(parseInt(score)>=5){
        document.getElementById("surroundScore").style.backgroundColor = '#FFD500';
      }

      document.getElementById("surroundScore").style.visibility = "visible";
      isAppear=true;
    </script>
    <% } %>

  </body>
  </html>
