<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <title>Music Propaganda</title>
    <!--<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/">-->

    <script type="text/javascript" src="js/navBarInteractions.js"></script>

    <script>
      var jsonObj = {
                      "artists":[
                          {"artistId": 129214, "artistName": "IMAGINE DRAGONS"},
                          {"artistId": 129214, "artistName": "IMAGINE DRAGONS"},
                          {"artistId": 129214, "artistName": "IMAGINE DRAGONS"},
                          {"artistId": 736, "artistName": "CHAPMAN, TRACY"},
                          {"artistId": 736, "artistName": "CHAPMAN, TRACY"},
                          {"artistId": 382, "artistName": "CARS, THE"},
                          {"artistId": 382, "artistName": "CARS, THE"},
                          {"artistId": 382, "artistName": "CARS, THE"},
                          {"artistId": 382, "artistName": "CARS, THE"},
                          {"artistId": 496, "artistName": "AC/DC"},
                          {"artistId": 496, "artistName": "AC/DC"},
                          {"artistId": 328, "artistName": "PRESLEY, ELVIS"},
                          {"artistId": 328, "artistName": "PRESLEY, ELVIS"},
                          {"artistId": 328, "artistName": "PRESLEY, ELVIS"},
                          {"artistId": 328, "artistName": "PRESLEY, ELVIS"},
                          {"artistId": 328, "artistName": "PRESLEY, ELVIS"},
                          {"artistId": 2196, "artistName": "TEMPTATIONS, THE"},
                          {"artistId": 2196, "artistName": "TEMPTATIONS, THE"},
                          {"artistId": 588, "artistName": "ROLLING STONES, THE"},
                          {"artistId": 588, "artistName": "ROLLING STONES, THE"}
                      ],
                      "songs":[
                          {"songId": 93787101, "songTitle": "Radioactive"},
                          {"songId": 93787101, "songTitle": "Radioactive"},
                          {"songId": 93787101, "songTitle": "Radioactive"},
                          {"songId": 96077402, "songTitle": "Fast Car"},
                          {"songId": 96077402, "songTitle": "Fast Car"},
                          {"songId": 6046410, "songTitle": "Let's Go"},
                          {"songId": 6046410, "songTitle": "Let's Go"},
                          {"songId": 6046410, "songTitle": "Let's Go"},
                          {"songId": 6046410, "songTitle": "Let's Go"},
                          {"songId": 79141303, "songTitle": "Moneytalks"},
                          {"songId": 79141303, "songTitle": "Moneytalks"},
                          {"songId": 638218, "songTitle": "Suspicious Minds"},
                          {"songId": 638218, "songTitle": "Suspicious Minds"},
                          {"songId": 638218, "songTitle": "Suspicious Minds"},
                          {"songId": 638218, "songTitle": "Suspicious Minds"},
                          {"songId": 638218, "songTitle": "Suspicious Minds"},
                          {"songId": 53085306, "songTitle": "Beauty Is Only Skin Deep"},
                          {"songId": 53085306, "songTitle": "Beauty Is Only Skin Deep"},
                          {"songId": 71666706, "songTitle": "Get Off Of My Cloud"},
                          {"songId": 71666706, "songTitle": "Get Off Of My Cloud"}
                      ]
                  };

      function triggerSearch(){
        var artist = document.getElementById("artist").value.toLowerCase();
        var artist_flag = 0;
        var song = document.getElementById("song").value.toLowerCase();
        var song_flag = 0;
        for (var i = 0; i < jsonObj.artists.length; i++){
          if (artist === jsonObj.artists[i].artistName.toLowerCase()){
            document.getElementById("artist_search").innerHTML = "This artist has some songs about nature and environment.";
            artist_flag = 1;
          }
        }
        if (artist_flag === 0){
          document.getElementById("artist_search").innerHTML = "This artist is not found.";
        }
        for (var i = 0; i < jsonObj.songs.length; i++){
          if (song === jsonObj.songs[i].songTitle.toLowerCase()){
            document.getElementById("song_search").innerHTML = "This song is about nature and environment.";
            song_flag = 1;
          }
        }
        if (song_flag === 0){
          document.getElementById("song_search").innerHTML = "This song is not found.";
        }
      }
    </script>
  </head>

  <body>

    <div class="masthead">
      <h3 class="text-muted">FEW Project</h3>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
        <a class="navbar-brand bg-dark" href="#">FEW Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-dark" id="HOME" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" id="QUIZ" href="#">Quiz</a>
            </li>
            <li>
              <a class="nav-link text-dark" id="MUSIC" href="#">Music Propaganda</a>
            </li>
            <li>
              <a class="nav-link text-dark" id="AIR" href="#">Air Pollution</a>
            </li>
            <li>
              <a class="nav-link text-dark" id="CARBON" href="#">Carbon Emissions</a>
            </li>
          </ul>
        </div>
      </nav>

    </div>

    <br/>
    <br/>
    <br/>
    <h3>Our Whitelisted Music</h3>

    <p>Here is an eco-friendly playlist if you are feeling in the mood.</p>
    <iframe src="https://open.spotify.com/embed/user/metrolyrics/playlist/3nzSm70WLwGpyj0SBR8OWL"
      width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    <br/>
    <div class="row">
      <div class="col-lg-4">
        <h4>Search for More Whitelisted Music</h4>
        <form>
          <label>Name of artist: <input type="text" id="artist" name="artist"></label><br/>
          <h2>Or</h2>
          <label>Name of song: <input type="text" id="song" name="song"></label><br/>
          <input class="btn-primary" onclick="triggerSearch()" value="Submit" style="width:80px;">      
        </form>
      </div>

      <div class="col-lg-4">
        <b><div id="artist_search"></div></b>
        <b><div id="song_search"></div></b>
      </div>
    </div>

  </body>
  </html>
